
html {
	height: 99%;
}
body {
	/*padding-top: 20px;
	padding-bottom: 20px;*/
	background-color: #f5f5f5;
	/*border: 3px solid #e5e5e5;*/
	height: 100%;
}

.container-fluid {
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}

.form-signin {
	max-width: 300px;
	padding: 9px 29px 29px;
	margin: 20px auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
			box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="email"] {
	font-size: 14px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

/*  * {
    font-family: Georgia;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }*/
div.bordered {
    /*margin: 0 auto;
    padding: 10px;*/
    text-align: center;
    border: 5px solid #ddd;
    
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
div.bordered-slim {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    border: 2px solid #ddd;
    
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
  /*
  #error {
    background-color: #BA0000;
    color: #fff;
    font-weight: bold;
  }
  #ask {
    font-size: 14pt;
  }
  #ask input {
    font-size: 14pt;
    padding: 10px;
    margin: 0 10px;
  }
  #ask span.join {
    padding: 10px;
    background-color: #ddd;
    -webkit-border-radius: 10px;
  }*/
#channel {
    /*margin-top: 100px;
    height: 200px;
    position: relative;*/
	height: 99%;
}
#channel div#descr {
    /*position: absolute;
    left: -10px;
    top: -190px;*/
    font-size: 11px;
    /*text-align: center;*/
    line-height: auto;
    padding: 5px;
    width: 96%;
}
div#msgs {
    overflow-y: scroll;
    height: 79%;
	background-color: #333;
	width: 92%;
	margin-top: 5px;
}
div#msgs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
div#msgs li {
    line-height: 15px;
}
div#msgs li span.user {
    color: #ff9900;
}
div#msgs li span.user.self {
    color: #aa2211;
}
div#msgs li span.time {
    float: right;
    margin-right: 5px;
    color: #aaa;
    /*font-family: "Courier New";*/
    font-size: 12px;
}
div#msgs li.control {
    text-align: center;
}
div#msgs li.control span.message {
    color: #aaa;
}
div#input {
	  /*position: absolute;
	  bottom: 0;*/
    /*text-align: left;*/
	margin-top: 5px;
}
div#input #message {
    width: 85.5%;
	height: auto;
    /*border: 5px solid #bbb;
    -webkit-border-radius: 3px;*/
    font-size: 14pt;
}
div#input #leave-chat {
	margin-top: -10px;
}


/******************************** responsive style ************************************/

@media (max-width: 767px) {
	body {
    	padding-right: 0;
    	padding-left: 0;
	}
  
	.form-signin {
		margin: auto;
	}
	
	div#input #message {
		width: 73%;
	}
  
}
